# =========================
# Python
# =========================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# =========================
# Environment Variables
# =========================

.env

# =========================
# FastAPI
# =========================

*.log

# =========================
# Node / React / Vite
# =========================

node_modules/
dist/
build/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Coverage / Cache
# =========================

.coverage
.cache/
pytest_cache/

# =========================
# Misc
# =========================

*.sqlite3